footer {
  background: #242627;
  color: #fff;
  padding: 20px;
  font-weight: 600;
  img {
    width: 45px;
    padding-right: 5px;
  }
  .phone {
    // font-size: 25px;
  }
  div:first-of-type {
    @include xxs {
      margin-bottom: 20px;
    }
    @include md {
      margin-bottom: 0;
    }
  }
  .footer_social {
    text-align: center;
    @include md {
      text-align: left;
    }
  }
  .footer_contact {
    text-align: center;
    @include md {
      text-align: right;
    }
  }

  a {
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
  a:hover {
    color: #e83878;
  }
}
