.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
header {
    position: relative;
    z-index: 1;
    .navbar-default .navbar-nav > li.menu-item-has-children a {
      /*padding-right: 50px;*/
    }

    .navbar-toggle.collapsed {
      background: none;
    }

    .navbar-toggle {
      background: #445A66;
    }

    .navbar-brand {
      padding: 0;
      img {
        width: 125px;
      }
    }

    a.mobile_number {
      display: block;
      text-align: right;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding-top: 15px;
      padding-right: 100px;
    }

    ul.dropdown-menu {
      border: none;
      border-radius: 0;
      width: 300px;
      a {
        color: #000;
      }
      li.current-menu-item {
        a {
          background: #E83978;
          color: #fff !important;
          font-weight: 600;
        }
      }
      .menu-item-444, .menu-item-445 {
        a {
          color: rgba(0, 0, 0, .1);
          border-bottom: 0;
          margin-bottom: 10px;
          font-weight: 600;
          font-size: 12px;
          &:hover {
            background: none;
          }
        }
      }
      li {
        // padding: 0 15px;
        a {
          font-size: 16px;
          color: #fff !important;
          font-weight: 300;
          @include sm {
            color: rgba(0,0,0,.5) !important;
            padding: 15px;
            &:hover {
              color: #fff !important;
            }
          }

        }
      }
    }

    li.current-menu-parent, li.current-menu-item {
      a {
        color: #E83978 !important;
      }
      a.dropdown-toggle {
        color: #E83978 !important;
      }
    }

    ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
      @include md {
        // hover over drop down, remove for click to dropdown
        display: block !important;
      }
    }

    .navbar-default .navbar-nav > li.menu-item-has-children a:after {
      content: " ";
      color: #fff;
      padding: 0 0 0 20px;
      background-image: url(images/nav_arrow_down.png);
      background-repeat: no-repeat;
    }
    .dropdown-menu {
      a:after {
        display: none;
      }
    }

  .contact {
    @include xxs {
      text-align: right;
      margin-top: 10px;
      padding-right: 10px;
    }
    @include lg {
      margin-top: 35px;
    }
    img {
      @include xxs {
        height: 25px;
      }
      @include lg {
        height: 25px;
        padding: 0 10px 5px 0;
      }
    }
  }
  .navbar-collapse {
    margin-top: 0;
    @include sm {
      margin-top: 20px;
    }
    @include md {
      margin-top: 0;
    }
    @include lg {
      margin-top: 20px;
    }
  }
  span {
    color: #fff;
    font-weight: 600;
    font-size: 18px
  }
  a {
    color: #fff;
    font-size: 14px
  }
  a:hover {
    text-decoration: none;
  }
}

.sub-nav {
  .col-md-6:last-of-type {
    border-left: 1px solid #fff;
  }
  a {
    color: #fff;
    font-size: 12px;
    padding-right: 15px;
  }
  a:hover {
    color: #e5316d;
  }
}

.navbar-nav > li  {
  > a {
  color: #fff;
  }
  :hover {
    color: #e5316d;
  }
}

.navbar {
  @include sm {
    // float: right !important;
  }
  @include md {
    margin-top: 5px;
  }
}

.navbar-collapse {
  @include xxs {
    background: #445A66;
  }
  @include sm {
    background: transparent;
  }
}
