a, button {
  transition: .5s;
}
p {
  line-height: 25px;
}
a:hover {
  text-decoration: none;
}
.entry-header {
  background-size: cover !important;
  @include xxs {
    margin-top: -130px;
    height: 250px;
    background: #8599a5;
  }
  @include lg {
    height: 350px;
  }
  .col-sm-3 {
    padding-left: 30px;

  }
}
h1.entry-title {
  margin-left: 10px;
  margin-top: 110px;
  text-transform: lowercase;
  font-weight: 700;
  color: #fff;
  @include xxs {
    line-height: 45px;
    font-size: 40px;
    margin-left: 10px;
    text-align: center;
    padding-top: 40px;
  }
  @include lg {
    line-height: 65px;
    font-size: 75px;
    text-align: left;
    padding-top: 0;
  }
}
.entry-header {
  .container-fluid {
  background: rgba(0,0,0,.70);
  height: 100%
  }
}
.intro-wrapper {
  padding: 75px 0;
  color: #5a4a5f;
  h1 {
    margin-top: 0;
    font-weight: 700;
  }
  .col-md-5 p {
    width: 90%;
  }
  .col-md-6:last-of-type {
    p:first-of-type {
      font-weight: 700;
    }
  }
  ul {
    margin: 0;
  }
}

.intro_paragraph {
  @include md {
    padding-left: 45px !important
  }
}
