.our-team {
  background: #645569;
  color: #fff;
  h1 {
    font-weight: 300;
  }
  p:first-of-type {
    font-weight: 600;
  }
  p:last-of-type {
    margin-bottom: 30px;
  }
  a {
    background: #33203a;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
  }
  a:hover {
    background: #e5316d;
    color: #fff;
    text-decoration: none;
  }
  .col-md-4 {
    @include xxs {
    padding: 100px 15px 100px 15px;
  }
    @include md {
      padding: 100px 0 100px 80px;
    }
  }
}

.about_wrapper {
  overflow:hidden;
}


.whatwedo {
  background-color: #BBEDED;
  h1 {
    color: #21646A;
    padding-left: 15px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  p {
    padding-left: 50px;
    &::before {
      float: left;
      margin-left: -55px;
      height: 50px;
      width: 30px;
      display: block;
      content: "";
      background: url(images/arrow.svg) no-repeat top right;
    }
    &::after {
      height: 7px;
      width: 60px;
      display: block;
      content: "";
      background: #21646A;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  p:last-of-type {
    &::after {
      display: none;
    }
  }

  .col-md-5:first-of-type {
    color: #21646A;
    p:first-of-type {
      padding-left: 50px;
      &::before {
        float: left;
        margin-left: -55px;
        height: 50px;
        width: 50px;
        display: block;
        content: "";
        background: url(images/favicon.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
  div:last-of-type {
    color: #21646A;
  }
  .container {
    padding: 25px 0 25px;
    @include md {
      padding: 50px 0 180px;
    }

  }
}

.areascovered {
  background: #21646A;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  @include xxs {
    background-image: none;
  }
  @include xs {
    background-image: none;
  }
  @include sm {
    background-image: none;
  }
  @include md {
      // background-image: url("images/about-map.svg");
      // background-position: 90% 0%;
      // overflow: hidden;
      height: 705px;
  }
  img {
    display: none;
    @include md {
      display: block;
      position: absolute;
      top: -180px;
      @include lg {
        top: -240px;
      }
      right: 15px;
    }
  }

}
